body{
	text-align: center;
	background: #363636;
}
h1{
	color: #E5FCC2;
}

#grid {
	background: black;
	margin: 2%;
	/*visibility: hidden;*/
	display: inline-block;
	padding: 0.2vw;
	border:solid #E5FCC2 0.2vw;
	border-radius: 1vw;
	/*cursor: none;*/
}

#infoLogger {
	font-family: Console;
	font-size: 15pt;
	color: white;
	background: black;
	border: none;
	min-width: 18vw;

}

.Console {
	display: inline-block;
	margin: 2vw;
	padding: 1vw;
	min-width: 18vw;
	background: #000000;
	/*position: absolute;*/
	perspective: all;
	border:solid #E5FCC2 0.2vw;
	border-radius: 1vw;
	text-align: left;
}

.Cell {
	/*background: #dddddd;*/
	width: 5vw;
	height: 5vw;
	margin: 0.1vw;
	margin-bottom: 0vw;
	display: inline-block;
	border-radius: 0.5vw;
	/*cursor: pointer;*/
}

.Timer {
	width: 24vw;
	height: 2vw;
	background: #000000;
	border: solid 0.2vw #E5FCC2;
	display: inline-block;
	border-radius: 1vw;
}

.Timer:hover {
	transition-timing-function: ease-out;
	transform: scale(1.1,1.1);
}

.Timer #value {
	width: 24vw;
	height: 2vw;
	background: linear-gradient(to bottom, blue, cyan);
	border-radius: 0.7vw;
}