body{
	text-align: center;
	background: #363636;
}
h1{
	color: #E5FCC2;
}
#logPanel{
	background: #1f1f1f; 
	display: inline-block; 
	width: 250px; 
	/*visibility: hidden;*/
	vertical-align: top;
	border:solid lightblue 3px;
	border-radius: 10px;
	margin: 2%;
	text-align: center;
	box-shadow: 5px 5px 5px grey;
	cursor:pointer;
}
#connectionPanel{
	background: #1f1f1f; 
	display: inline-block; 
	width: 250px; 
	/*visibility: hidden;*/
	vertical-align: top;
	border:solid lightgreen 3px;
	border-radius: 10px;
	margin: 2%;
	text-align: center;
	box-shadow: 1vw 1vw 1vw #202020;
	cursor:pointer;
}
#connectionPanel:hover{
	transform: scale(1.1,1.1);
	box-shadow: 1vw 1vw 1vw #202020;
}
#connectionPanel input{
	width: 90%;
	margin: 5px;
	height: 20px;
	border-radius: 10px;
	border-color: white;
	text-align: center;

}
#connectionPanel button{
	margin: 5px;
}
#grid {
	background: black;
	margin: 2%;
	/*visibility: hidden;*/
	display: inline-block;
	padding: 0.2vw;
	border:solid #E5FCC2 0.2vw;
	border-radius: 1vw;
	/*cursor: none;*/
}
.case {
	/*background: #dddddd;*/
	width: 5vw;
	height: 5vw;
	margin: 0.1vw;
	margin-bottom: 0vw;
	display: inline-block;
	border-radius: 0.5vw;
	/*cursor: pointer;*/
}

.timer {
	width: 24vw;
	height: 2vw;
	background: #000000;
	border: solid 0.2vw #E5FCC2;
	display: inline-block;
	border-radius: 1vw;
}

.timer:hover {
	transition-timing-function: ease-out;
	transform: scale(1.1,1.1);
}

.timer #value {
	width: 24vw;
	height: 2vw;
	background: linear-gradient(to bottom, blue , cyan);
	border-radius: 0.7vw;
}